<article class="control-content">
    <h3>Elements</h3>
    <div>
        <div class="controls">
            @if (isLocked)
            {
                <button @onclick="Lock">
                    @((MarkupString)CustomIcons.Locked())
                    Unlock
                </button>
            }
            else
            {
                <button @onclick="Lock">
                    @((MarkupString)CustomIcons.UnLocked())
                    Lock
                </button>
            }
            <button @onclick="Clone">
                @((MarkupString)CustomIcons.Clone())
                Clone
            </button>
            <button @onclick="Delete">
                @((MarkupString)CustomIcons.Trash())
                Delete
            </button>
        </div>
        <div class="position">
            <button class="@(isPositionPopupVisible ? "selected" : "")" @onclick="TogglePositionPopup">
                @((MarkupString)CustomIcons.Layers())
                Position
            </button>
            @if (isPositionPopupVisible)
            {
                <div class="position-popup">
                    <ul>
                        <li @onclick="@(() => ChangePosition(true, true))">
                            @((MarkupString)CustomIcons.Front())
                            Bring to front
                        </li>
                        <li @onclick="@(() => ChangePosition(true, false))">
                            @((MarkupString)CustomIcons.Forward())
                            Bring forward
                        </li>
                        <li @onclick="@(() => ChangePosition(false, false))">
                            @((MarkupString)CustomIcons.Backward())
                            Send backward
                        </li>
                        <li @onclick="@(() => ChangePosition(false, true))">
                            @((MarkupString)CustomIcons.Back())
                            Send to back
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</article>

@code {
    [Parameter]
    public IJSObjectReference? Module { get; set; }
    private bool isPositionPopupVisible = false;
    private bool isLocked = false;

    protected override async Task OnParametersSetAsync()
    {
        if (Module != null)
        {
            isLocked = await Module.InvokeAsync<bool>("getIsLocked");
        } else
        {
            Console.WriteLine("module is null");
        }
    }

    private void Lock()
    {
        isLocked = !isLocked;
        if (Module != null)
        {
            Module.InvokeVoidAsync("lockNode");
        }
    }

    private void Clone()
    {
        if (Module != null)
        {
            Module.InvokeVoidAsync("cloneNode");
        }
    }

    private void Delete()
    {
        if (Module != null)
        {
            Module.InvokeVoidAsync("deleteNodes");
        }
    }

    private void TogglePositionPopup()
    {
        isPositionPopupVisible = !isPositionPopupVisible;
    }

    private void ChangePosition(bool forward, bool full)
    {
        if (Module != null)
        {
            Module.InvokeVoidAsync("changePosition", forward, full);
        }
    }
}
