@inject IJSRuntime JS

<article class="text-style-content">
    <h3>General</h3>
    <div>
        <div>
            <h4>Font</h4>
            <div>
                <select @bind="selectedFont">
                    <option>Arial</option>
                    <option>Times New Roman</option>
                    <option>Verdana</option>
                    <option>Georgia</option>
                    <option>Comic Sans MS</option>
                </select>
                <div class="icon">
                    @((MarkupString)CustomIcons.ChevronDown())
                </div>
            </div>

        </div>
        <div>
            <h4>Style</h4>
            <div>
                <button class="@(isBold ? "selected" : "")" @onclick="ToggleBold">@((MarkupString)CustomIcons.Bold())</button>
                <button class="@(isItalic ? "selected" : "")" @onclick="ToggleItalic">@((MarkupString)CustomIcons.Italic())</button>
                <button class="@(isUnderline ? "selected" : "")" @onclick="ToggleUnderline">@((MarkupString)CustomIcons.Underline())</button>
            </div>
        </div>
        <div>
            <h4>Size</h4>
            <div>
                <input type="number" @bind="fontSize" />
            </div>
        </div>
        <div>
            <h4>Color</h4>
            <ColorInput fontColor="@fontColor"
                        handleColor="@ChangeColor" />
        </div>
        <div>
            <h4>Align</h4>
            <div class="align-input">
                <button class="@(align == "left" ? "selected" : "")" @onclick="SetAlignLeft">@((MarkupString)CustomIcons.AlignLeft())</button>
                <button class="@(align == "center" ? "selected" : "")" @onclick="SetAlignCenter">@((MarkupString)CustomIcons.AlignCenter())</button>
                <button class="@(align == "right" ? "selected" : "")" @onclick="SetAlignRight">@((MarkupString)CustomIcons.AlignRight())</button>
            </div>
        </div>
    </div>
</article>

@code {
    private IJSObjectReference _module;
    private bool isPositionPopupVisible = false;
    private string selectedFont = "Arial";
    private bool isBold = false;
    private bool isItalic = false;
    private bool isUnderline = false;
    private string align = "left";
    private int fontSize = 30;
    private string fontColor = "#000000";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/textStylingBar.js");
        }
    }

    private string GetFontStyle()
    {
        if (isBold && isItalic)
        {
            return "bold italic";
        }
        if (isBold)
        {
            return "bold";
        }
        if (isItalic)
        {
            return "italic";
        }
        return "normal";
    }

    private void TogglePositionPopup()
    {
        isPositionPopupVisible = !isPositionPopupVisible;
    }

    private void ToggleBold()
    {
        isBold = !isBold;
        _module.InvokeVoidAsync("handleBoldItalic", GetFontStyle());

    }

    private void ToggleItalic()
    {
        isItalic = !isItalic;
        _module.InvokeVoidAsync("handleBoldItalic", GetFontStyle());
    }

    private void ToggleUnderline()
    {
        isUnderline = !isUnderline;
        if (isUnderline)
        {
            _module.InvokeVoidAsync("handleUnderline", "underline");
        } else
        {
            _module.InvokeVoidAsync("handleUnderline", "normal");
        }
    }

    private void ChangeColor(string color)
    {
        fontColor = color;
        _module.InvokeVoidAsync("handleFontColorChange", color);
    }

    private void SetAlignLeft()
    {
        align = "left";
        _module.InvokeVoidAsync("handleAlignmentChange", "left");
    }

    private void SetAlignCenter()
    {
        align = "center";
        _module.InvokeVoidAsync("handleAlignmentChange", "center");
    }

    private void SetAlignRight()
    {
        align = "right";
        _module.InvokeVoidAsync("handleAlignmentChange", "right");
    }
}
