@inject IJSRuntime JS

<article class="text-content">
    @* <h3>Basic text</h3> *@
    <div class="texts">
        <button class="text-header" @onclick="@(() => AddTextField(32))">
            New title
            @((MarkupString)CustomIcons.Plus())
        </button>
        <button class="text-subheader" @onclick="@(() => AddTextField(24))">
            New subtitle
            @((MarkupString)CustomIcons.Plus())
        </button>
        <button class="text-paragraph" @onclick="@(() => AddTextField(16))">
            New paragraph
            @((MarkupString)CustomIcons.Plus())
        </button>
    </div>
</article>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/textLayers.js");
        }
    }

    async Task AddTextField(int size = 16)
    {
        if (module != null)
        {
            await module.InvokeVoidAsync("createTextLayer", size);
        }
    }
}
